{extend name="layouts::layout"/}
{block name="content"}
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form id="myform" class="layui-form layui-col-md11 x-so" action="{:url('message/index')}">
            <input type="text" class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start" value="{:request()->get('start')}">
            <input type="text" class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end" value="{:request()->get('end')}">
            <input type="text" name="phone"  placeholder="请输入联系电话" autocomplete="off" class="layui-input" id="phone" value="{:request()->get('phone')}">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach">
                <i class="layui-icon" >&#xe615;</i>
            </button>
            <a href="{:url('message/index')}" class="layui-btn reset">重置</a>
        </form>
    </div>
    <table class="layui-table"  lay-filter="test">
        <thead>
        <tr>
            <th>#</th>
            <th>申请信息</th>
            <th>已/未处理</th>
            <th>申请时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {if isset($message_lists)}
            {foreach $message_lists as $message_list}
            <tr>
                <td>{$i++}</td>
                <td>
                    <ul>
                        <ul class="m-list layui-row layui-col-space10">
                            <li>公司名称：{$message_list['name']}</li>
                            <li>联系人：{$message_list['username']}</li>
                            <li>联系电话：{$message_list['phone']}</li>
                        </ul>
                    </ul>
                </td>
                <td>
                    {if $message_list['status']==1}
                    <button class="layui-btn layui-btn-xs layui-btn-normal handle" data-url="{:url('message/handle',array('id'=>$message_list['id']))}" f-id="{$message_list['status']}">未处理</button>
                    {else}
                    <button class="layui-btn layui-btn-xs layui-btn-warm handle" data-url="{:url('message/handle',array('id'=>$message_list['id']))}" f-id="{$message_list['status']}" >已处理</button>
                    {/if}
                </td>
                <td>{$message_list['created_at']}</td>
                <td>
                    <button class="layui-btn layui-btn-xs layui-btn-danger delete" data-url="{:url('message/delete',array('id'=>$message_list['id']))}">删除</button>
                </td>
            </tr>
            {/foreach}
        {else}
            <tr>
                <td colspan="5">暂无数据</td>
            </tr>
        {/if}
        </tbody>
    </table>
</div>

<script src="/assets/js/message/message.js"></script>
<script>
    $('.reset').click(function(){
        document.getElementById('myform').reset();
    })
    layui.use(['form','laydate'], function(){
        var laydate = layui.laydate;
        var form = layui.form
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        laydate.render({
            elem: '#end' //指定元素
        });
    });
</script>
{/block}


