{extend name="layouts::layout"/}
{block name="content"}
<style>
    .m-list>li:hover{
        background: #e6e6e6;
        color:#3a87ad;
    }
    .heig{
        height:100%;
    }

</style>
<div class="x-body">
    <blockquote class="layui-elem-quote">
        欢迎管理员：<span class="x-red" style="font-size: 20px">{:session('user.user_name')}</span>！
        当前时间:{:date('Y-m-d H:i:s')}
<!--        <a onclick="parent.x_admin_add_to_tab('在tab打开','https://www.163.com',true)" style="color: red" href="javascript:;">在tab打开</a>-->
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>数据统计</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 110px;">
                            <div carousel-item="" class="heig">
                                <ul class="layui-row layui-col-space10 layui-this heig">
                                    <li class="layui-col-xs2 heig">
                                        <a href="{:url('user/index')}" class="x-admin-backlog-body heig">
                                            <h3>用户数</h3>
                                            <p>
                                                <cite>{$user_count}</cite>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2 heig">
                                        <a href="{:url('message/index')}" class="x-admin-backlog-body heig">
                                            <h3>申请数</h3>
                                            <p>已处理：<cite>{$me_count}</cite></p>
                                            <p>未处理：<cite>{$m_count}</cite></p>

                                        </a>
                                    </li>
                                    <li class="layui-col-xs2 heig">
                                        <a href="javascript:;" class="x-admin-backlog-body heig">
                                            <h3>商品数</h3>
                                            <p>
                                                <cite>67</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2 heig">
                                        <a href="javascript:;" class="x-admin-backlog-body heig">
                                            <h3>应用领域数</h3>
                                            <p>
                                                <cite>67</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2 heig">
                                        <a href="javascript:;" class="x-admin-backlog-body heig">
                                            <h3>合作伙伴</h3>
                                            <p>
                                                <cite>{$coo_count}</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>系统通知</legend>
        <div class="layui-field-box">
            <ul class="layui-row layui-col-space10">
                {if isset($m_lists)}
                    {if !empty($m_lists)}
                    {foreach $m_lists as $m_list}
                    <li>
                        <ul class="m-list layui-row layui-col-space10">
                            <li>公司名称：{$m_list['name']}</li>
                            <li>联系人：{$m_list['username']}</li>
                            <li>联系电话：{$m_list['phone']}</li>
                            <li>申请时间：{$m_list['created_at']}</li>
                        </ul>
                    </li>
                    <hr>
                    {/foreach}
                    {else}
                    <li>
                        <span style="color:red;font-size: 18px">暂无申请</span>
                        <ul  class="layui-row layui-col-space10">
                            <li>公司名称：</li>
                            <li>联系人：</li>
                            <li>联系电话：</li>
                            <hr>
                        </ul>
                    </li>
                    {/if}
                {/if}
            </ul>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>系统信息</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th width="30%">网站版本</th>
                    <td>1.0.00</td></tr>
                <tr>
                    <th>服务器地址</th>
                    <td>暂时没有，后期会添加</td></tr>
                <tr>
                    <th>操作系统</th>
                    <td>WIN</td></tr>
                <tr>
                    <th>运行环境</th>
                    <td>phpstudy 2018版</td></tr>
                <tr>
                    <th>PHP版本</th>
                    <td>5.6.27</td></tr>
                <tr>
                    <th>MYSQL版本</th>
                    <td>5.5.53</td></tr>
                <tr>
                    <th>ThinkPHP</th>
                    <td>5.0</td></tr>
                <tr>
                    <th>上传附件限制</th>
                    <td>2M</td></tr>
                <tr>
                    <th>执行时间限制</th>
                    <td>30s</td></tr>
                <tr>
                    <th>剩余空间</th>
                    <td></td></tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>开发团队</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>版权所有</th>
                    <td>上海为杰
                        <a href="JavaScript:;" class='x-a'>访问官网</a></td>
                </tr>
                <tr>
                    <th>开发者</th>
                    <td>上海为杰团队</td></tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由上海为杰提供技术支持。</blockquote>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

{/block}