@charset "UTF-8";
@font-face {
  font-family: "zzh";
  src: url(../fonts/zzh.ttf);
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "微软雅黑"; }

.container-fluid {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0; }
.container-fluid1{
  max-width: 1920px !important;
}
.row {
  margin: 0; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0;
  margin: 0; }

.lt {
  float: left; }

.rt {
  float: right; }

a {
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.sizeCover {
  background-position: 50% 50%;
  background-size: cover; }

.main-pad-1 {
 }

.main-pad-2 {
  padding: 35px 0; }

@media (min-width: 992px) {
  .main-padleft-1 {
    padding-left: 35px; } }

.main-background-1 {
  background: url(../images/bg2.jpg) no-repeat center center;
  background-size: cover;
overflow-y: hidden;}

.title-1 {
  background: url(../images/title-1-line1.png) no-repeat center center; }
.title-1.active2 {
  background: url(../images/title-1-line2.png) no-repeat center center; }

.title-1.active2 .entit {
  color: #fff; }
.title-1 .chtit {
  font-size: 32px;
  font-weight: bold;
}
.title-1 .chtit span {
  color: #026fef; }
.title-1 .entit {
  font-size: 14px;
  color: #787878;
  font-family: "Arial";
  text-transform: uppercase; }

.header-wrap .header {
  position: relative; }
.header-wrap .header .logo {
  line-height: 65px; }
.header-wrap .header .stxt {
  margin-top: 35px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-left: 10px; }
.header-wrap .header .stxt .stit {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffcc33;
  margin-bottom: 5px; }
.header-wrap .header .stxt .btit {
  font-size: 1.6rem;
  color: #535353; }
.header-wrap .header .phonetxt {
  margin-top: 30px;
  float: right; }
.header-wrap .header .phonetxt .icon {
  float: left;
  margin-right: 10px;
  margin-top: 5px; }
.header-wrap .header .phonetxt .ptxt {
  margin-top: 5px;
  float: left;
  font-size: 1.4rem;
  color: #434343; }
.header-wrap .header .phonetxt .ptxt span {
  margin-top: -5px;
  display: block;
  font-size: 2.8rem;
  color: #1d81fc;
  font-family: "Impact"; }
.header-wrap .header .menu {
  line-height: 65px;
  float: right; }
.header-wrap .header .menu img {
  max-width: 100%; }
.header-wrap .header .menulist {
  position: absolute;
  top: 65px;
  right: -7px;
  width: 100px;
  display: none;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8); }
.header-wrap .header .menulist a {
  font-size: 1.4rem;
  font-family: "微软雅黑";
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  height: 30px;
  line-height: 30px; }
.header-wrap .header .menulist a:hover {
  background: #000; }

.nav-wrap {
  height: 60px;
  border-top: 1px solid #ddd; }
.nav-wrap .nav-ul .navlist {
  position: relative;
  flex:1; }
.nav-wrap .nav-ul .navlist a.listh1 {
  line-height: 60px;
  text-decoration: none;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight:100;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
.nav-wrap .nav-ul .navlist a.listh1:hover, .nav-wrap .nav-ul .navlist a.listh1.on {
  font-size: 17px;
  color: #2388fa; }
.nav-wrap .nav-ul .navlist .list2-ul {
  position: absolute;
  left: 0;
  top: 60px;
  display: none;
  z-index: 10;
  background: rgba(255,255,255,0.8);
  filter: alpha(opacity=80);
  width: 170px; }
.nav-wrap .nav-ul .navlist .list2-ul .list {
  position: relative; }
.nav-wrap .nav-ul .navlist .list2-ul .list .listh2 {
  text-align: left;
  padding-left: 10px;
  line-height: 35px;
  color: black;
  font-weight: 100;
  display: block;
  text-decoration: none; }
.nav-wrap .nav-ul .navlist .list2-ul .list .listh2:hover, .nav-wrap .nav-ul .navlist .list2-ul .list .listh2.on {
  background: #2388fa;
  color:#fff;}
.nav-wrap .nav-ul .navlist .list2-ul .list .list3-ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
  background: #000;
  filter: alpha(opacity=80); }
.nav-wrap .nav-ul .navlist .list2-ul .list .list3-ul .list2 {
  text-align: center; }
.nav-wrap .nav-ul .navlist .list2-ul .list .list3-ul .list2 a {
  display: block;
  line-height: 35px;
  color: #fff; }

.banner-wrap {
  position: relative; }
.banner-wrap .banner-carousel {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto; }
.banner-wrap .banner-carousel .item {
  display: block; }
.banner-wrap .banner-carousel img {
  display: block;
  width: 100%; }
.banner-wrap .owl-theme .owl-controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center; }
.banner-wrap .owl-theme .owl-controls.clickable .owl-page span {
  opacity: 1;
  background: #fff;
  border-radius: 0;
  width: 10px;
  height: 10px; }
.banner-wrap .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #0283fa; }
.banner-wrap .owl-theme .owl-controls .owl-page.active span {
  background: #0283fa; }
.banner-wrap .wbanner-carousel img {
  width: 100%; }

.content-wrap .about-wrap {
  padding: 65px 0px;
  background: url(../images/bg5.jpg) no-repeat center center;
  background-size: cover; }
.content-wrap .about-wrap .about-con {
  margin-top: 35px; }
.content-wrap .about-wrap .about-con .a1box .conbox {
  background: url(../images/about-conbg1.png) no-repeat;
  background-size: 100% 100%;
  height: 337px;
  padding: 35px 45px 0; }
@media (max-width: 990px) {
  .content-wrap .about-wrap .about-con .a1box .conbox {
    border: 1px solid #026eed;
    background: none;
    padding: 25px; } }
.content-wrap .about-wrap .about-con .a1box .conbox .titlebox {
  /*overflow: hidden;*/
  font-size: 25px;
  font-weight: bold;
  color: #0164e7; }
.content-wrap .about-wrap .about-con .a1box .conbox .titlebox .icon{
  width: 90px;
  margin-top: -3px;
  text-align: right;
}
.content-wrap .about-wrap .about-con .a1box .conbox .titlebox .icon img{
  max-width: 62%;
}
.content-wrap .about-wrap .about-con .a1box .conbox .titlebox .tit{
  width: calc(100% - 100px);
  margin-top: -4px;
}
@media (max-width: 990px) {
  .content-wrap .about-wrap .about-con .a1box .conbox .titlebox {
    font-size: 20px; } }
.content-wrap .about-wrap .about-con .a1box .conbox .titlebox span {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  /*color: #0e1720;*/
  color: #0164e7;
  font-weight: normal;
  letter-spacing: -1.28px;
  margin-top: -4px; }
.content-wrap .about-wrap .about-con .a1box .conbox .con {
  margin-top: 20px;
  border: 1px solid #026eed;
  padding: 10px;
  font-size: 14px;
  color: #454545;
  height: 136px;
  overflow: auto; }
.content-wrap .about-wrap .about-con .a1box .conbox .con::-webkit-scrollbar {
  width: 4px;
  height: 136px; }
.content-wrap .about-wrap .about-con .a1box .conbox .con::-webkit-scrollbar-thumb {
  background: #026eed; }
.content-wrap .about-wrap .about-con .a1box .conbox .con::-webkit-scrollbar-track {
  border: 1px solid #026eed; }
.content-wrap .about-wrap .about-con .a1box .conbox .con .cn {
  line-height: 20px; }
.content-wrap .about-wrap .about-con .a1box .conbox .phonetxt {
  margin-top: 20px;
  overflow: hidden;
  font-size: 28px;
  color: #000;
  font-family: "Impact"; }
.content-wrap .about-wrap .about-con .a1box .conbox .phonetxt i {
  float: left; }
.content-wrap .about-wrap .about-con .a1box .conbox .phonetxt span {
  margin-top: 5px;
  float: left;
  margin-left: 10px; }
.content-wrap .about-wrap .about-con .a1box .picbox {
  border: none;
  overflow: hidden;
  height: 337px; }
@media (max-width: 990px) {
  .content-wrap .about-wrap .about-con .a1box .picbox {
    margin-top: 20px;
    height: auto; } }
.content-wrap .about-wrap .about-con .a1box .picbox img {
  width: 100%; }
.content-wrap .about-wrap .about-con .a2box {
  margin-top: 45px; }
.content-wrap .about-wrap .about-con .a2box .list a {
  text-decoration: none;
  display: block;
  border: 1px solid #eee;
  background: #fff;
  overflow: hidden;
  text-align: center;
  padding: 25px 0;
  position: relative;
  z-index: 5; }
.content-wrap .about-wrap .about-con .a2box .list a:hover {
  background: url(../images/bg1.jpg) no-repeat;
  background-size: 100% 100%; }
.content-wrap .about-wrap .about-con .a2box .list a:hover .icon img {
  -webkit-filter: invert(0);
  filter: invert(0);
  opacity: 1; }
.content-wrap .about-wrap .about-con .a2box .list a:hover .txt {
  color: #fff; }
.content-wrap .about-wrap .about-con .a2box .list a:hover .txt span:nth-child(2) {
  color: #fff; }
.content-wrap .about-wrap .about-con .a2box .list a .icon {
  display: inline-block; }
.content-wrap .about-wrap .about-con .a2box .list a .icon img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  opacity: .8;
  transition: all .3s; }
.content-wrap .about-wrap .about-con .a2box .list a .txt {
  margin-left: 10px;
  position: relative;
  top: 15px;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #292929;
  transition: all .3s; }
.content-wrap .about-wrap .about-con .a2box .list a .txt span {
  display: block; }
.content-wrap .about-wrap .about-con .a2box .list a .txt span:nth-child(2) {
  margin-top: 3px;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  transition: all .3s; }
.content-wrap .system-wrap {
  background: url(../images/bg6.jpg) no-repeat center center;
  background-size: cover;
  padding: 65px 0;
 }
.content-wrap .system-wrap .system-con {
  margin-top: 45px; }
.content-wrap .system-wrap .system-con .systembox .swiper-slide {
  width: auto;
  min-height: 295px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px; }
@media (max-width: 990px) {
  .content-wrap .system-wrap .system-con .systembox .swiper-slide {
    min-height: 190px; } }
@media (max-width: 480px) {
  .content-wrap .system-wrap .system-con .systembox .swiper-slide {
    min-height: 295px; } }
.content-wrap .system-wrap .system-con .systembox .swiper-slide a {
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #333;
  text-align: center;
  font-size: 20px; }
.content-wrap .system-wrap .system-con .systembox .swiper-slide a img {
  width: 100%; }
.content-wrap .system-wrap .system-con .systembox .swiper-slide a .txt {
  line-height: 55px;
  height: 55px;
  overflow: hidden; }
.content-wrap .system-wrap .system-con .systembox #contrast {
  margin-top: 10px;
  text-align: center; }
.content-wrap .system-wrap .system-con .systembox #btn1, .content-wrap .system-wrap .system-con .systembox #btn2 {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #d2d2d2;
  font-family: "黑体";
  font-size: 20px;
  color: #026eed;
  font-weight: bold;
  opacity: 1;
  text-align: center;
  line-height: 40px;
  transition: all .3s;
  margin: 0 10px; }
.content-wrap .system-wrap .system-con .systembox #btn1:hover, .content-wrap .system-wrap .system-con .systembox #btn2:hover {
  background: #026eed;
  color: #fff; }
.content-wrap .application-wrap {

  background-size: cover; }
.content-wrap .application-wrap .application-con .w3cFocus {
  width: 100%;
  position: relative; }
.content-wrap .application-wrap .application-con .w3cFocus .container-fluid {
  position: relative; }
.content-wrap .application-wrap .application-con .w3cFocus .prev, .content-wrap .application-wrap .application-con .w3cFocus .next {
  float: right;
  text-decoration: none;
  border: 1px solid #00e2fd;
  width: 90px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: #00e2fd;
  font-family: "黑体";
  margin: 0; }
.content-wrap .application-wrap .application-con .w3cFocus .prev:hover, .content-wrap .application-wrap .application-con .w3cFocus .next:hover {
  background: #00e2fd;
  color: #202533; }
.content-wrap .application-wrap .application-con .w3cFocus .pageState {
  position: absolute;
  right: 10px;
  top: 702px;
  z-index: 15;
  font-size: 1.4rem;
  color: #999; }
.content-wrap .application-wrap .application-con .w3cFocus .pageState:before {
  content: "0";
  font-size: 2.4rem;
  color: #292929;
  font-weight: bold; }
.content-wrap .application-wrap .application-con .w3cFocus .pageState span {
  font-size: 2.4rem;
  color: #292929;
  font-weight: bold;
  margin-right: 6px; }
.content-wrap .application-wrap .application-con .w3cFocusIn {
  position: relative;
  overflow: hidden; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul {
  zoom: 1; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li {
  position: relative;
  cursor: pointer;

  overflow: hidden;
  border: 1px solid #00e2fd;
  padding-left: 20px;
  font-size: 20px;
  height: 82px;
  line-height: 82px;
  transition: all .3s; }
@media (min-width: 992px) {
  .content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li {
    width: 240px;
    margin-left: 40px; } }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li.on {
  color: #00e2fd;
  padding-left: 10px; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li.on span:nth-child(3) {
  opacity: 1; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li span {
  display: inline-block;
  float: left; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li span:first-child {
  font-family: "Impact";
  font-size: 25px; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li span:nth-child(2) {
  font-weight: bold;
  width: 145px; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul li span:nth-child(3) {
  opacity: 0;
  transition: all .3s; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul .bigtitbox {
  background: url(../images/application-titbg1.png) no-repeat;
  background-size: 102% 100%;
  height: 170px;
  margin-bottom: 5px;
  color: #fff;
  padding-top: 45px;
  padding-left: 65px; }
@media (max-width: 990px) {
  .content-wrap .application-wrap .application-con .w3cFocusIn .hd ul .bigtitbox {
    border: 1px solid #00e4ff;
    background: none;
    box-shadow: 0 0 10px #00e4ff;
    height: auto;
    padding: 35px 30px; } }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul .bigtitbox .chtit {
  font-size: 32px;
  font-weight: bold; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul .bigtitbox .entit {
  font-size: 14px;
  font-family: "Arial"; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd ul .bigtitbox .line {
  margin-top: 20px;
  width: 48px;
  height: 8px;
  background: #00e2fd; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd .phonebox {
  background: #1767ca;
  color: #fff;
  padding: 35px 30px;
  overflow: hidden; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd .phonebox .icon {
  width: 70px;
  float: left;
  margin-top: 5px;
  text-align: center; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd .phonebox .pnum {
  width: calc(100% - 75px);
  float: right;
  text-align: left;
  font-size: 1.4rem; }
.content-wrap .application-wrap .application-con .w3cFocusIn .hd .phonebox .pnum span {
  font-size: 2.4rem;
  display: block;
  font-family: "Impact"; }
.content-wrap .application-wrap .application-con .bdbox .bd li .picbox {
  overflow: hidden; }
.content-wrap .application-wrap .application-con .bdbox .bd li .picbox .imgbox {
  overflow: hidden; }
.content-wrap .application-wrap .application-con .bdbox .bd li .picbox .imgbox img {
  max-width: 100%;
  max-height: 100%; }
.content-wrap .video-wrap {
  background: url(../images/bg3.jpg) no-repeat center center;
  background-size: cover;
  padding: 65px 0 0; }
.content-wrap .video-wrap .video-con {
  margin-top: 35px;
  position: relative; }
.content-wrap .video-wrap .video-con .tabhd {
  background: #fff;
  border: 1px solid #00e2fd;
  padding: 25px 0 25px 35px;
  margin-bottom: 20px; }
@media (min-width: 992px) {
  .content-wrap .video-wrap .video-con .tabhd {
    padding: 20px 0 30px 120px;
    width: 530px;
    float: right; } }
.content-wrap .video-wrap .video-con .tabhd .thdlist {
  padding-right: 150px;
  position: relative; }
.content-wrap .video-wrap .video-con .tabhd .thdlist:last-child a {
  border-bottom: 0; }
.content-wrap .video-wrap .video-con .tabhd .thdlist a {
  text-decoration: none;
  display: block;
  padding: 15px 0;
  border-bottom: 1px dashed #ddd; }
.content-wrap .video-wrap .video-con .tabhd .thdlist a:hover:before, .content-wrap .video-wrap .video-con .tabhd .thdlist a.active:before {
  background: #026eed; }
.content-wrap .video-wrap .video-con .tabhd .thdlist a:before {
  content: '';
  width: 5px;
  height: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .3s; }
@media screen and (min-width: 991px){
  .content-wrap .video-wrap .video-con .tabhd .thdlist a:before {
    width: 100px;
  }
}
.content-wrap .video-wrap .video-con .tabhd .thdlist a .title {
  font-size: 14px;
  color: #292929;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  overflow: hidden; }
.content-wrap .video-wrap .video-con .tabhd .thdlist a .conbox {
  font-size: 14px;
  color: #696969;
  line-height: 23px;
  height: 23px;
  overflow: hidden; }
@media (min-width: 992px) {
  .content-wrap .video-wrap .video-con .tabbd {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 720px; } }
.content-wrap .video-wrap .video-con .tabbd .tbdlist {
  display: none; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist:first-child {
  display: block; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist .picbox img {
  width: 100%; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist .morebtn {
  overflow: hidden; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist .morebtn a {
  text-decoration: none;
  float: right;
  display: block;
  width: 205px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: url(../images/bg1.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist .conbox {
  margin-top: 30px; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist .conbox .con {
  margin-top: 10px; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist .conbox .con .tit {
  font-size: 16px;
  color: #292929;
  font-weight: bold;
  line-height: 25px;
  height: 25px;
  overflow: hidden; }
.content-wrap .video-wrap .video-con .tabbd .tbdlist .conbox .con .cn {
  font-size: 14px;
  color: #696969;
  line-height: 20px;
  height: 20px;
  overflow: hidden; }
.content-wrap .case-wrap .case-con {
  margin-top: 35px; }
.content-wrap .partner-wrap .partner-con .picMarquee-left {
  overflow: hidden;
  position: relative; }
.content-wrap .partner-wrap .partner-con .picMarquee-left .bd ul {
  overflow: hidden;
  zoom: 1; }
.content-wrap .partner-wrap .partner-con .picMarquee-left .bd ul li {
  width: 200px;
  margin: 0 3px;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center; }
.content-wrap .partner-wrap .partner-con .picMarquee-left .bd ul li a {
  text-decoration: none;
  display: block; }
.content-wrap .partner-wrap .partner-con .picMarquee-left .bd ul li a .picbox {
  overflow: hidden;
  background: #fff;
  padding: 10px; }
.content-wrap .partner-wrap .partner-con .picMarquee-left .bd ul li a .picbox .imgbox {
  overflow: hidden; }
.content-wrap .partner-wrap .partner-con .picMarquee-left .bd ul li a .picbox .imgbox img {
  max-height: 100%;
  max-width: 100%; }

.content-wrap .case-wrap .case-con .case-carousel {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.25);
  padding: 20px 15px; }
.content-wrap .case-wrap .case-con .case-carousel .item {
  margin: 0 5px;
  text-decoration: none;
  display: block;
  border: 1px solid #00e2fd;
  position: relative;
  overflow: hidden; }
.content-wrap .case-wrap .case-con .case-carousel .item:hover .showcn {
  top: 0; }
.content-wrap .case-wrap .case-con .case-carousel .item:hover .conbox {
  top: 90px; }
.content-wrap .case-wrap .case-con .case-carousel .item .picbox {
  overflow: hidden; }
.content-wrap .case-wrap .case-con .case-carousel .item .picbox .imgbox {
  overflow: hidden; }
.content-wrap .case-wrap .case-con .case-carousel .item .picbox .imgbox img {
  max-width: 100%;
  max-height: 100%; }
.content-wrap .case-wrap .case-con .case-carousel .item .conbox {
  position: relative;
  top: 0;
  background: #fff;
  color: #696969;
  font-size: 16px;
  text-align: center;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  transition: all .3s; }
.content-wrap .case-wrap .case-con .case-carousel .item .showcn {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/case-showbg.png) no-repeat center center;
  color: #fff;
  text-align: center;
  font-size: 22px;
  transition: all .3s; }
.content-wrap .case-wrap .case-con .case-carousel .item .showcn .tit {
  position: relative;
  top: 25%; }
@media (max-width: 990px) {
  .content-wrap .case-wrap .case-con .owl-theme .owl-controls .owl-buttons {
    display: none; } }
.content-wrap .case-wrap .case-con .owl-theme .owl-controls .owl-buttons .owl-prev {
  position: absolute;
  left: -60px;
  top: 45%;
  width: 40px;
  height: 40px;
  background: url(../images/case-arrow.png) no-repeat right top;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  opacity: 1;
  transition: all .3s; }
.content-wrap .case-wrap .case-con .owl-theme .owl-controls .owl-buttons .owl-prev:hover {
  background: url(../images/case-arrow.png) no-repeat left top; }
.content-wrap .case-wrap .case-con .owl-theme .owl-controls .owl-buttons .owl-next {
  position: absolute;
  right: -60px;
  top: 45%;
  width: 40px;
  height: 40px;
  background: url(../images/case-arrow.png) no-repeat left bottom;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  opacity: 1;
  transition: all .3s; }
.content-wrap .case-wrap .case-con .owl-theme .owl-controls .owl-buttons .owl-next:hover {
  background: url(../images/case-arrow.png) no-repeat right bottom; }
.content-wrap .partner-wrap {
  padding: 65px 0 0; }
.content-wrap .partner-wrap .partner-con {
  margin-top: 35px; }
.content-wrap .partner-wrap .partner-con .partner-carousel {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto; }
.content-wrap .partner-wrap .partner-con .partner-carousel .item {
  margin: 0 2px;
  text-decoration: none;
  display: block; }
.content-wrap .partner-wrap .partner-con .partner-carousel .item .picbox {
  overflow: hidden;
  background: #fff;
  padding: 10px; }
.content-wrap .partner-wrap .partner-con .partner-carousel .item .picbox .imgbox {
  overflow: hidden; }
.content-wrap .partner-wrap .partner-con .partner-carousel .item .picbox .imgbox img {
  max-height: 100%;
  max-width: 100%; }
.content-wrap .tenthScreen-wrap {
  padding: 45px 0;
  background: url(../images/newsbg1.jpg) no-repeat center center;
  background-size: cover; }
.content-wrap .tenthScreen-wrap .tenthBox {
  margin-top: 55px;
  position: relative; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap {
  margin-bottom: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line {
  background: #f0f0f0; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line .tabhd .thdlist{
  display: inline-block;
  float: left;
}
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line .tabhd .thdlist a{
  text-decoration: none;
  display: inline-block;
  height: 39px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  line-height: 39px;
  width: 125px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line .tabhd .thdlist a i{
  margin-right: 5px;
}
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line .tabhd .thdlist a:hover, .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line .tabhd .thdlist a.active{
  /* background: url(../images/bg1.jpg) no-repeat;
   background-size: 100% 100%;*/
  color: #026fef;
}
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line .morebtn {
  line-height: 39px;
  padding-right: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .title-line .morebtn a {
  color: #696969;
  font-size: 1.2rem;
  font-family: "Arial";
  text-transform: uppercase; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con {
  margin-top: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .tabbd .tbdlist{
  display: none;
}
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .tabbd .tbdlist:first-child{
  display: block;
}
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox{
  margin-bottom:15px;
}
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a {
  text-decoration: none;
  display: block;
  color: #404d5f; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a:hover .picbox {
  opacity: .5; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .picbox {
  width: 27%;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox {
  width: 71%; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox .tit {
  margin-top: 15px;
  font-size: 1.8rem;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  color: #292929; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox .time {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #c3c3c3;
  text-transform: uppercase;
  line-height: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox .con {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #657188;
  line-height: 25px;
  height: 50px;
  overflow: hidden; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox {
  border-top: 1px dashed #ccc;
  margin-top: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist a {
  border-bottom: 1px dashed #ccc;
  text-decoration: none;
  display: block;
  color: #404d5f;
  font-size: 1.4rem;
  line-height: 47px;
  height: 47px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist a:hover {
  background: url(../images/bg1.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: 0 0 0 5px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist a:hover .tit {
  left: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist a:hover .time {
  display: none; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist a:hover .icon {
  display: block; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist a .icon {
  margin-top: 22px;
  width: 10px;
  height: 3px;
  background: #fff;
  display: none;
  margin-right: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist a .tit {
  position: relative;
  left: 0;
  width: 60%;
  display: inline-block; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .title-line {
  background: #f0f0f0; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .title-line .title {
  /*background: url(../images/bg1.jpg) no-repeat;
  background-size: 100% 100%;*/
  height: 39px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  line-height: 39px;
  width: 125px; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .title-line .morebtn {
  line-height: 39px;
  padding-right: 20px; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .title-line .morebtn a {
  color: #696969;
  font-size: 1.2rem;
  font-family: "Arial";
  text-transform: uppercase; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con {
  margin-top: 30px; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .picMarquee-top .bd .picList li {
  padding-bottom: 15px; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  overflow: hidden; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist a {
  text-decoration: none;
  display: block; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist a .asktxt {
  font-size: 1.6rem;
  color: #4e4e4e;
  line-height: 21px;
  height: 21px;
  overflow: hidden; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist a .asktxt i {
  float: left;
  width: 21px;
  height: 21px;
  background: url(../images/bg1.jpg) no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 1.4rem;
  display: inline-block;
  font-style: normal;
  text-align: center;
  line-height: 21px; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist a .asktxt span {
  float: right;
  width: 92%; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist a .answertxt {
  margin-top: 18px;
  font-size: 1.4rem;
  color: #7e7e7e;
  overflow: hidden; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist a .answertxt i {
  float: left;
  width: 21px;
  height: 21px;
  background: #343434;
  color: #fff;
  font-size: 1.4rem;
  display: inline-block;
  font-style: normal;
  text-align: center;
  line-height: 21px; }
.content-wrap .tenthScreen-wrap .tenthBox .aboutbox-wrap .aboutbox-con .plist a .answertxt span {
  float: right;
  width: 92%;
  line-height: 21px;
  height: 42px;
  overflow: hidden; }
.content-wrap .contentbox {
  margin-top: 30px; }
.content-wrap .contentbox .tit-line {
  text-align: center;
  margin-bottom: 20px; }
.content-wrap .contentbox .tit-line h2 {
  font-family: "Aparajita";
  color: #383838;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin: 0 0 15px; }
.content-wrap .contentbox .tit-line h2 span {
  font-family: "微软雅黑";
  display: block;
  font-size: 2rem; }
.content-wrap .contentbox .tit-line .line-wrap {
  width: 100%;
  height: 1px;
  background: #ccc; }
.content-wrap .contentbox .tit-line .line-wrap .line {
  position: relative;
  top: -1px;
  height: 3px;
  background: #1d80fc;
  width: 80px;
  margin: 0 auto; }
.content-wrap .contentbox .w-ltside .mb {
  margin-bottom: 20px; }
.content-wrap .contentbox .w-ltside .mb .tit-show .title {
  display: block;
  height: 45px;
  line-height: 45px;
  background: #1d80fc;
  background-size: cover;
  overflow: hidden;
  font-family: '微软雅黑';
  font-size: 16px;
  color: #fff;
  text-indent: 1em;
  cursor: pointer; }
.content-wrap .contentbox .w-ltside .mb .tit-show .title .arrow {
  float: right;
  margin-right: 15px; }
.content-wrap .contentbox .w-ltside .mb .tit-show .title .icon {
  margin-right: 10px; }
.content-wrap .contentbox .w-ltside .show-hide {
  display: none;
  overflow: hidden;
  width: 100%; }
.content-wrap .contentbox .w-ltside .show-hide .div2 {
  display: block;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  background: #eee;
  color: #707070;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #fff; }
.content-wrap .contentbox .w-ltside .show-hide .div2 a {
  display: block;
  color: #707070;
  text-decoration: none; }
.content-wrap .contentbox .w-ltside .show-hide .div2:hover a {
  background: #1d80fc;
  color: #fff; }
.content-wrap .contentbox .w-ltside .show-hide .div3 {
  display: none; }
.content-wrap .contentbox .w-ltside .show-hide .div3 ul {
  margin: 0;
  padding: 0; }
.content-wrap .contentbox .w-ltside .show-hide .div3 ul li {
  display: block;
  height: 34px;
  line-height: 34px;
  list-style: none;
  text-align: center;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid #eee; }
.content-wrap .contentbox .w-ltside .show-hide .div3 ul li a {
  text-decoration: none;
  display: block;
  overflow: hidden;
  color: #666; }
.content-wrap .contentbox .w-ltside .show-hide .div3 ul li a:hover {
  color: #1d80fc; }
.content-wrap .contentbox .ltside {
  padding-right: 20px;
  margin-bottom: 80px; }
.content-wrap .contentbox .ltside .linkbox .title-arrow {
  color: #1d80fc; }
.content-wrap .contentbox .ltside .linkbox .title-arrow .tit {
  font-size: 1.6rem;
  font-weight: bold; }
.content-wrap .contentbox .ltside .linkbox .title-arrow .tit span {
  color: #acacac;
  position: relative;
  top: 3px;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase; }
.content-wrap .contentbox .ltside .linkbox .link-wrap {
  margin-top: 5px;
  border: 1px solid #ccc;
  padding: 5px 0; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox {
  border-bottom: 1px dashed #ccc; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: left;
  font-size: 1.6rem;
  text-decoration: none;
  color: #2f2f2f;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list:hover {
  background: #1d80fc;
  color: #fff !important; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list:hover .tit span {
  color: #fff; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list.on1 {
  background: #1d80fc;
  color: #fff !important; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list.on1 .tit span {
  color: #fff; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list .tit {
  width: 80%; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list .tit span {
  display: block;
  font-size: 1.2rem;
  color: #787878;
  text-transform: uppercase;
  font-family: "Aparajita"; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list .arrow {
  font-style: normal;
  color: #fff; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list2 {
  display: none; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list2 ul {
  background: #ededed;
  padding: 5px 10px 0; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list2 ul li {
  border-bottom: 1px dashed #ccc; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list2 ul li a {
  padding-left: 20px;
  display: block;
  height: 50px;
  text-align: left;
  color: #696969;
  line-height: 50px;
  font-size: 1.4rem;
  text-decoration: none;
  overflow: hidden; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list2 ul li a:hover {
  color: #1d80fc; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list2 ul li a i {
  font-style: normal;
  float: left;
  width: 10%; }
.content-wrap .contentbox .ltside .linkbox .link-wrap .lbox .list2 ul li a span {
  float: left;
  width: 80%; }
.content-wrap .contentbox .ltside .btnbox {
  margin-top: 25px; }
.content-wrap .contentbox .ltside .btnbox .b2 {
  margin-top: 20px; }
.content-wrap .contentbox .ltside .btnbox .b2 a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 1.4rem;
  color: #333; }
.content-wrap .contentbox .ltside .btnbox .b2 a:hover {
  border-color: #1d80fc; }
.content-wrap .contentbox .ltside .btnbox .b2 a i {
  margin: 0 30px;
  font-style: normal;
  font-weight: bold;
  color: #000; }
.content-wrap .contentbox .main-wrap {
  padding-bottom: 30px; }
.content-wrap .contentbox .main-wrap .title-posit {
  margin-bottom: 15px;
}
.content-wrap .contentbox .main-wrap .title-posit .tp .title {
  color: #060607;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold; }
.content-wrap .contentbox .main-wrap .title-posit .tp .title span {
  color: #acacac;
  margin-left: 8px;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal; }
.content-wrap .contentbox .main-wrap .title-posit .tp{
  padding-bottom: 10px;
}
.content-wrap .contentbox .main-wrap .title-posit .tp .posit {
  color: #343434;
  font-size: 1.6rem; }
.content-wrap .contentbox .main-wrap .title-posit .tp .posit span {
  font-weight: bold; }
.content-wrap .contentbox .main-wrap .title-posit .tp .posit a {
  color: #616161; }
.content-wrap .contentbox .main-wrap .title-posit .tp .back a {
  color: #343434;
  font-size: 1.6rem; }
.content-wrap .contentbox .main-wrap .title-posit .line {
  border-top: 1px solid #ccc; }
.content-wrap .contentbox .main-wrap .about-con {
  margin-bottom: 20px; }
.content-wrap .contentbox .main-wrap .about-con img {
  max-width: 100%;
  margin: 10px 0; }
.content-wrap .contentbox .main-wrap .about-con .con {
  font-size: 1.4rem;
  color: #0d0d0d;
  line-height: 30px;
  margin-bottom: 0; }
.content-wrap .contentbox .main-wrap .news-con .nlist {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc; }
.content-wrap .contentbox .main-wrap .news-con .nlist a {
  display: block;
  text-decoration: none; }
.content-wrap .contentbox .main-wrap .news-con .nlist a:hover .picbox {
  opacity: .5; }
.content-wrap .contentbox .main-wrap .news-con .nlist a:hover .conbox .morebtn {
  background: #026eed; }
.content-wrap .contentbox .main-wrap .news-con .nlist a .picbox {
  width: 20%;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
.content-wrap .contentbox .main-wrap .news-con .nlist a .conbox {
  width: 78%; }
.content-wrap .contentbox .main-wrap .news-con .nlist a .conbox .tit {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  color: #2b2b2b;
  font-weight: bold; }
.content-wrap .contentbox .main-wrap .news-con .nlist a .conbox .con {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #878787;
  line-height: 20px;
  height: 40px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .news-con .nlist a .conbox .morebtn {
  float: right;
  margin-top: 10px;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background: #1b1b1b;
  color: #fff;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
.content-wrap .contentbox .main-wrap .product-con .plist {
  padding: 0 10px 20px; }
.content-wrap .contentbox .main-wrap .product-con .plist a {
  text-decoration: none;
  display: block;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
  transition: all .3s; }
.content-wrap .contentbox .main-wrap .product-con .plist a:hover {
  border-color: #026eed; }
.content-wrap .contentbox .main-wrap .product-con .plist a:hover .showcn {
  top: 0; }
.content-wrap .contentbox .main-wrap .product-con .plist a .picbox {
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .product-con .plist a .picbox .imgbox {
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .product-con .plist a .picbox .imgbox img {
  max-width: 100%;
  max-height: 100%; }
.content-wrap .contentbox .main-wrap .product-con .plist a .conbox {
  background: #fff;
  padding: 15px;
  transition: all 0.3s; }
.content-wrap .contentbox .main-wrap .product-con .plist a .conbox .title {
  font-size: 1.4rem;
  color: #333;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .product-con .plist a .conbox .con {
  margin-top: 5px;
  font-size: 12px;
  font-weight: lighter;
  color: #333;
  line-height: 20px;
  height: 20px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .product-con .plist a .conbox .con span {
  float: left;
  display: inline-block;
  width: calc(100% - 30px); }
.content-wrap .contentbox .main-wrap .product-con .plist a .conbox .con span:nth-child(2) {
  width: 30px;
  font-size: 18px;
  text-align: right; }
.content-wrap .contentbox .main-wrap .product-con .plist a .showcn {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 55px 30px 0;
  transition: all 0.3s; }
.content-wrap .contentbox .main-wrap .product-con .plist a .showcn .title {
  font-size: 22px;
  color: #0164e7;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .product-con .plist a .showcn .con {
  margin-top: 5px;
  font-size: 12px;
  font-weight: lighter;
  color: #505050;
  line-height: 23px;
  height: 46px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .product-con .plist a .showcn .con span {
  float: left;
  display: inline-block;
  width: calc(100% - 30px); }
.content-wrap .contentbox .main-wrap .product-con .plist a .showcn .con span:nth-child(2) {
  width: 30px;
  font-size: 18px;
  text-align: right; }
.content-wrap .contentbox .main-wrap .product-con .plist a .showcn .arrow {
  margin-top: 30px; }
.content-wrap .contentbox .main-wrap .video-con .vlist {
  padding: 0 10px 20px; }
.content-wrap .contentbox .main-wrap .video-con .vlist a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: #000;
  text-align: center; }
.content-wrap .contentbox .main-wrap .video-con .vlist a .picbox img {
  width: 100%; }
.content-wrap .contentbox .main-wrap .video-con .vlist a .picbox video{
  width: 100%
}
.content-wrap .contentbox .main-wrap .video-con .vlist a .conbox {
  line-height: 45px;
  height: 45px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .certificate-con .clist {
  padding: 0 10px 20px; }
.content-wrap .contentbox .main-wrap .certificate-con .clist a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #333;
  font-size: 18px; }
.content-wrap .contentbox .main-wrap .certificate-con .clist a:hover .picbox .imgbox {
  transform: scale(1.2); }
.content-wrap .contentbox .main-wrap .certificate-con .clist a .picbox {
  border: 1px solid #ddd;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .certificate-con .clist a .picbox .imgbox {
  overflow: hidden;
  transition: all .3s; }
.content-wrap .contentbox .main-wrap .certificate-con .clist a .picbox .imgbox img {
  max-height: 100%;
  max-width: 100%; }
.content-wrap .contentbox .main-wrap .certificate-con .clist a .conbox {
  margin-top: 8px;
  line-height: 45px;
  height: 45px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .talert-con .tabbox {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 25px; }
@media (max-width: 990px) {
  .content-wrap .contentbox .main-wrap .talert-con .tabbox {
    padding-bottom: 15px;
    margin-bottom: 15px; } }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a {
  text-decoration: none;
  display: block;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a.on1 .arrow i {
  transform: rotate(0deg); }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .titbox {
  float: left;
  width: calc(100% - 50px);
  font-size: 18px;
  color: #303030; }
@media (max-width: 990px) {
  .content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .titbox {
    font-size: 14px; } }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .titbox span {
  display: block; }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .titbox span:first-child {
  font-size: 30px;
  margin-bottom: 5px; }
@media (max-width: 990px) {
  .content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .titbox span:first-child {
    font-size: 20px; } }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .arrow {
  margin-top: 15px;
  float: right;
  width: 50px;
  text-align: right; }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .arrow i {
  display: inline-block;
  background: url(../images/talert-arrow1.png) no-repeat;
  width: 35px;
  height: 22px;
  background-size: 100% 100%;
  transform: rotate(180deg);
  transition: all .3s; }
@media (max-width: 990px) {
  .content-wrap .contentbox .main-wrap .talert-con .tabbox .thdlist a .arrow i {
    width: 15px;
    height: 7px; } }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .tbdlist {
  display: none;
  margin-top: 25px;
  overflow: hidden; }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .tbdlist .title {
  font-size: 16px;
  color: #0062e5; }
@media (max-width: 990px) {
  .content-wrap .contentbox .main-wrap .talert-con .tabbox .tbdlist .title {
    font-size: 14px; } }
.content-wrap .contentbox .main-wrap .talert-con .tabbox .tbdlist .conbox {
  margin-top: 8px;
  font-size: 14px;
  color: #303030;
  line-height: 25px;
  margin-bottom: 20px; }
@media (max-width: 990px) {
  .content-wrap .contentbox .main-wrap .talert-con .tabbox .tbdlist .conbox {
    font-size: 12px; } }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist {
  margin-bottom: 10px; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist label {
  font-weight: normal;
  font-size: 1.4rem;
  width: 22%;
  float: left;
  height: 30px;
  line-height: 30px;
  color: #696969; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .textbox1 {
  float: right;
  width: 77%;
  border: 1px solid #ccc;
  line-height: 30px;
  height: 30px;
  padding: 5px;
  font-size: 1.4rem;
  color: #696969; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .textbox2 {
  float: right;
  width: 77%;
  border: 1px solid #ccc;
  line-height: 30px;
  height: 130px;
  padding: 5px;
  font-size: 1.4rem;
  color: #696969; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .textbox3 {
  margin-left: 2%;
  float: left;
  width: 15%;
  border: 1px solid #ccc;
  line-height: 30px;
  height: 30px;
  padding: 5px;
  font-size: 1.4rem;
  color: #696969; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .pic {
  float: left;
  margin-left: 5px; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .pic img {
  height: 30px; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .sbtn {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  color: #292929;
  border: none;
  background: #d1d1d1;
  font-size: 1.4rem;
  margin-right: 5px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .sbtn:hover {
  background: #1d80fc;
  color: #fff; }
.content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .sbtn.submitbtn {
  margin-left: 23%; }
.content-wrap .contentbox .main-wrap .messages-con .picbox {
  padding-left: 20px; }
.content-wrap .contentbox .main-wrap .messages-con .picbox .pbox {
  border: 1px solid #ccc;
  padding: 5px; }
.content-wrap .contentbox .main-wrap .contact-con .mappic {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 5px; }
.content-wrap .contentbox .main-wrap .contact-con .mappic img {
  width: 100%; }
.content-wrap .contentbox .main-wrap .contact-con .ccon .tit {
  font-size: 1.8rem;
  margin-bottom: 5px; }
.content-wrap .contentbox .main-wrap .contact-con .ccon .cn {
  font-size: 1.2rem;
  color: #696969;
  line-height: 25px; }
.content-wrap .contentbox .main-wrap .news-details-con .tit {
  text-align: center;
  margin-bottom: 15px; }
.content-wrap .contentbox .main-wrap .news-details-con .tit span {
  font-size: 2.4rem;
  border-bottom: 1px solid #0196dc;
  padding-bottom: 5px;
  color: #292929; }
.content-wrap .contentbox .main-wrap .news-details-con .pic {
  margin: 10px 0;
  text-align: center; }
.content-wrap .contentbox .main-wrap .news-details-con .pic img {
  max-width: 100%; }
.content-wrap .contentbox .main-wrap .news-details-con .con p {
  text-indent: 2em;
  color: #636363;
  font-size: 1.4rem;
  margin-bottom: 0;
  line-height: 28px; }
.content-wrap .contentbox .main-wrap .product-details-con .picbox {
  margin-bottom: 20px;
  text-align: center; }
.content-wrap .contentbox .main-wrap .product-details-con .picbox img {
  border: 1px solid #ccc;
  max-width: 100%; }
.content-wrap .contentbox .main-wrap .product-details-con .dcon .tit {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2d2d2d;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px; }
.content-wrap .contentbox .main-wrap .product-details-con .dcon .cn {
  font-size: 1.4rem;
  color: #636363;
  line-height: 30px; }

.footer-wrap .footer {
  background: #000;
  padding: 75px 0; }
.footer-wrap .footer .fwcn .phonetxt {
  border-left: 3px solid #0277d1;
  padding-left: 20px; }
.footer-wrap .footer .fwcn .phonetxt .p1 {
  font-size: 1.4rem;
  color: #696969; }
.footer-wrap .footer .fwcn .phonetxt .p2 {
  color: #0277d1;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: "Arial"; }
.footer-wrap .footer .fwcn .phonetxt .p3 {
  color: #fff;
  font-size: 16px; }
.footer-wrap .footer .fwcn .copyright {
  margin-top: 35px;
  color: #999;
  line-height: 25px; }
.footer-wrap .footer .dhcn {
  border-right: 1px solid #e5e5e5;
  padding: 0 20px 0 50px;
  height: 182px; }
@media (max-width: 990px) {
  .footer-wrap .footer .dhcn {
    height: auto; } }
.footer-wrap .footer .dhcn .tit {
  font-size: 16px;
  color: #fff;
  font-weight: bold; }
.footer-wrap .footer .dhcn .con {
  color: #fff;
  font-size: 14px;
  line-height: 35px;
  margin-top: 10px; }
.footer-wrap .footer .dhcn .con.active2 .list {
  overflow: hidden; }
.footer-wrap .footer .dhcn .con.active2 .list i {
  float: left;
  width: 40px; }
.footer-wrap .footer .dhcn .con.active2 .list span {
  float: left;
  width: calc(100% - 40px); }
.footer-wrap .footer .dhcn .con .list a {
  display: block;
  color: #696969;
  font-size: 14px;
  float: left;
  width: 50%;
  line-height: 30px; }
.footer-wrap .footer .ewmbox {
  margin-top: 20px;
  float: left;
  position: relative; }
@media (min-width: 768px) {
  .footer-wrap .footer .ewmbox {
    float: right; } }
@media (max-width: 990px) {
  .footer-wrap .footer .ewmbox {
    position: static; } }
.footer-wrap .footer .ewmbox .pic {
  text-align: center; }
.footer-wrap .footer .ewmbox .pic span {
  margin-top: 10px;
  display: block;
  color: #696969; }
.footer-wrap .footer .ewmbox .backbtn {
  position: absolute;
  right: -85px;
  top: 0; }
@media (max-width: 990px) {
  .footer-wrap .footer .ewmbox .backbtn {
    right: 0; } }

.hot-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #292929;
  z-index: 999; }
.hot-wrap .list {
  height: 75px;
  width: 25%;
  float: left;
  display: block; }
.hot-wrap .list:hover {
  background: #191919; }
.hot-wrap .list a {
  text-decoration: none;
  display: block;
  text-align: center; }
.hot-wrap .list a i {
  display: block;
  padding-bottom: .2em;
  padding-top: .5em; }
.hot-wrap .list a span {
  font-size: 1rem;
  color: #fff; }

@media (min-width: 992px) {
  .col-md-13 {
    width: 20%;
    float: left; }

  .header-wrap .header {
    height: 120px; }
  .header-wrap .header .logo {
    line-height: 120px; }

  .content-wrap .application-wrap .application-con {
    overflow: hidden; }
  .content-wrap .application-wrap .application-con .w3cFocusIn {
    overflow: visible;
    float: left;
    width: 280px; }
  .content-wrap .application-wrap .application-con .w3cFocus .pageState {
    top: 15px;
    right: 300px; }
  .content-wrap .application-wrap .application-con .w3cFocus .prev, .content-wrap .application-wrap .application-con .w3cFocus .next {
    top: 12px; }
  .content-wrap .application-wrap .application-con .bdbox {
    margin-top: 175px;
    float: right;
    width: calc(100% - 280px); }
  .content-wrap .application-wrap .application-con .bdbox .bd{
    border: 3px solid #00e2fd;
    overflow: hidden;
  }

  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap {
    padding-right: 30px;
    margin-bottom: 0; }
  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox .time {
    overflow: hidden; }
  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox .time .t1 {
    float: left; }
  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox .time .t2 {
    float: right; }
  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .nlistbox .clist {
    width: 50%;
    float: left;
    padding: 0 10px; }
  .content-wrap .contentbox .main-wrap {
    padding-left: 20px; }
  .content-wrap .contentbox .main-wrap .messages-con .mconbox {
    width: 800px;
    margin: 0 auto; }
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist label {
    width: 12%; }
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .textbox1 {
    width: 86%; }
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .textbox2 {
    width: 86%; }
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .sbtn.submitbtn {
    margin-left: 14%; } }
@media (max-width: 990px) {
  .container-fluid {
    padding-left: .5em;
    padding-right: .5em; }


  .footer-wrap {
    margin-bottom: 75px; } }
@media (max-width: 480px) {


  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .picbox {
    width: 35%; }
  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox {
    width: 63%; }
  .content-wrap .tenthScreen-wrap .tenthBox .news-wrap .news-con .bnlistbox a .conbox .tit {
    margin-top: 5px; }
  .content-wrap .contentbox .main-wrap .news-con .nlist a .picbox {
    width: 35%; }
  .content-wrap .contentbox .main-wrap .news-con .nlist a .conbox {
    width: 63%; } }
@media (max-width: 375px) {
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist label {
    width: 28%; }
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .textbox1 {
    width: 71%; }
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .textbox2 {
    width: 71%; }
  .content-wrap .contentbox .main-wrap .messages-con .mbox .inputlist .sbtn.submitbtn {
    margin-left: 28%; } }


.yinyuebox-wrap{
  position: fixed;
  top: 21%;
  right: 0;
  z-index: 99;
  box-shadow: 0 0 10px rgba(29,129,252,.5);
  border-radius: 50px;
}

/*# sourceMappingURL=style.css.map */
