{extend name="layouts::layout"/}
{block name="content"}
    <div class="x-body">
        <div class="layui-container">
            <div class="layui-row">
                <span class="layui-col-md11">菜单分组{$title}</span>
                <button class="layui-btn layui-btn-sm back">返回</button>
            </div>

            <hr/>
            <form class="layui-form user-create-form">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>分组名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" required="" lay-verify="name" value="{if isset($info)}{$info.name}{/if}" autocomplete="off" placeholder="输入分组名" class="layui-input">
                    </div>
                    <input type="hidden" name="id" value="{if isset($info)}{$info.id}{/if}">
                </div>
                <div class="layui-form-item">
                    <label for="icon" class="layui-form-label">
                        <span class="x-red"></span>图标
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="icon" name="icon" required="" lay-verify="icon" value="{if isset($info)}{:htmlentities($info.icon)}{/if}" autocomplete="off" placeholder="请使用layui字体图标" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="sort" class="layui-form-label">
                        <span class="x-red"></span>排序
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="sort" name="sort" required="" lay-verify="sort" value="{if isset($info)}{$info.sort}{/if}" autocomplete="off" class="layui-input">
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button  class="layui-btn layui-btn-sm" lay-filter="{$button}" lay-submit="">
                        {$title}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('.back').click(function () {
            history.go(-1)
        });
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form
            ,layer = layui.layer;
            //自定义验证规则
            var code = '{$info ? 1 : 0}';
            // if(code=='0'){
                form.verify({
                    name: function(value){
                        if(value.length <= 0){
                            return '分组名必填';
                        }
                    }
                    // , icon: function(value){
                    //     if(value.length <= 0){
                    //         return '图标必填';
                    //     }
                    // }
                });
            // }

            //监听提交
            form.on('submit(add)', function(e){
                let data = e.field
                console.log(data)

                $.ajax({
                    type:"post",
                    url:"{:url('menuGroup/save')}",
                    data:{
                        name:data.name,
                        icon:data.icon,
                        sort:data.sort,
                    },
                    success:function (rel) {
                        console.log(rel)
                        if(rel.status){
                            layer.msg(rel.msg, {
                                time: 2000,
                            });
                            self.location = document.referrer;
                        }else{
                            layer.msg(rel.msg, {
                                time: 2000,
                            });
                        }

                    }
                })
                return false;
            })

            form.on('submit(update)', function(e){
                let data = e.field
                $.ajax({
                    type:"post",
                    url:"{:url('menuGroup/update')}",
                    data:{
                        name:data.name,
                        icon:data.icon,
                        sort:data.sort,
                        id:data.id,
                    },
                    success:function (rel) {
                        console.log(rel)
                        if(rel.status){
                            layer.msg(rel.msg, {
                                time: 2000,
                            });
                            self.location = document.referrer;
                        }else{
                            layer.msg(rel.msg, {
                                time: 2000,
                            });
                        }

                    }
                })
                return false;
            })
        });
    </script>
    <script>
      //   var _hmt = _hmt || []; (function() {
      //   var hm = document.createElement("script");
      //   hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      //   var s = document.getElementsByTagName("script")[0];
      //   s.parentNode.insertBefore(hm, s);
      // })();
    </script>
{/block}