{include file='public/hader'}
<link href="http://demo.htmleaf.com/1607/201607071614/css/demo.css" rel="stylesheet">
<style>
    .videoboxxx{
        width:90%;
    }
    .con .cn{
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .con .cn>p{
        text-indent: 2em;
    }
    #gsjj{
        overflow-x: hidden;
    }
</style>
<div class="content-wrap clearfix animate"  id="gsjj" style="
    position: relative;
    z-index: 9999;
    background: #fff;
    width: 100%;
" >
    <img src="/static/images/20200730/4448dd3fb3574fa4601848c5b3de5c95.jpg" alt="" style="width: 100%" aos="zoom-in">
    {foreach $arr as $v}
    {if $v['section_id']==1}
    <div class="about-wrap"  style="background:url('{$v['section_img']}') no-repeat center center
;position: relative; width: 100%;background-size:cover;
">

        <div class="container-fluid" >
            <div class="title-1 text-center" aos="fade-down">
                <div class="chtit">{$v['section_name']}</div>
                <div class="entit">about us</div>
                <div class="arrow"><img src="static/picture/title-1-arrow1.png" alt=""></div>
            </div>
            <div class="about-con" aos="fade-right">
                <div class="a1box">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="conbox">
                                <div class="titlebox clearfix">
                                    <div class="icon lt"><img src="/uploads/icon/favicon.ico" alt="" style="height:48px;margin-right:10px;"></div>
                                    <div class="tit lt">{$c_list->name}<span>{$c_list->english}</span></div>
                                </div>
                                <div class="con">
                                    <div class="cn">
                                        {$c_list->descrip}
                                    </div>
                                </div>
                                <div class="phonetxt"><i><img src="static/picture/about-icon1.png" alt=""></i><span>{$c_list->tel}</span></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 main-padleft-1" >
                            <div class="picbox">
                                <video src="{$c_list->video}" id="videobox" poster="images/video.jpg" controlsList="nodownload"  controls="controls" muted autoplay style="width: 100%;"></video>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {elseif $v['section_id']==2}
    <div class="system-wrap animate" id="xtjs" style="background:url('{$v['section_img']}') no-repeat center center
;position: relative; width: 100%;background-size:cover;" >
        <div class="container-fluid" >
            <div class="title-1 text-center" aos="fade-down">
                <div class="chtit">系统<span>介绍</span></div>
                <div class="entit">System introduction</div>
                <div class="arrow"><img src="static/picture/title-1-arrow1.png" alt=""></div>
            </div>
            <div class="system-con" aos="fade-up">
                <div class="systembox">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {volist name='product' id='obj'}
                            <div class="swiper-slide">
                                <a href="{:url('selide/index',array('pid'=>$obj.id))}" target="_blank">
                                    <img src="{$obj.img}" alt="">
                                    <div class="txt">{$obj.title}</div>
                                </a>
                            </div>
                            {/volist}
                        </div>

                        <div id="contrast">
                            <a href="javascript:void(0);" id="btn1"><</a><a class="default" href="javascript:void(0);" id="btn2">></a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    {elseif $v['section_id']==3}
    <div class="application-wrap animate" id="yyly" style="background:url('{$v['section_img']}') no-repeat center center
;position: relative; width: 100%;background-size:cover;">
        <div class="application-con">
            <div class="w3cFocus">
                <div class="container-fluid">
                    <div class="w3cFocusIn">
                        <div class="hd">
                            <ul>
                                <div class="bigtitbox" aos="fade-left">
                                    <div class="chtit" style="color: #343434">应用<span style="color:#026fef;">领域</span></div>
                                    <div class="entit">AREAS OF APPLICATION</div>
                                    <div class="line"></div>
                                </div>
                                {volist name='application' id='obj'}
                                <li aos="fade-right">
                                    <span>0{$x++}.</span><span>{$obj.title}</span><span><img src="{$obj.image}" alt=""></span>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    <div class="bdbox" aos="fade-left">
                        <div class="bd maximg">
                            <ul>
                                {volist name='application' id='obj'}
                                <li>
                                    <a href="{:url('selide/index',array('application_id'=>$obj.id))}" class="clearfix">
                                        <div class="picbox">
                                            <div class="imgbox sizeCover" >
                                                <img src="{$obj.image}" alt="">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        <a class="next" href="javascript:void(0)">></a>
                        <a class="prev" href="javascript:void(0)"><</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {elseif $v['section_id']==4}
    <div class="video-wrap animate" id="spzs" data-animate="bounceIn"  style="background:url('{$v['section_img']}') no-repeat center center
;position: relative; width: 100%;background-size:cover;">
        <div class="container-fluid" >
            <div class="title-1 text-center" aos="fade-down">
                <div class="chtit">视频<span>展示</span></div>
                <div class="entit">Video display</div>
                <div class="arrow"><img src="static/picture/title-1-arrow1.png" alt=""></div>
            </div>
            <div class="video-con">
                <div class="tabhd" aos="fade-left">
                    {volist name='videos' id='obj'}
                    <div class="thdlist">
                        <a href="javascript:void(0);">
                            <div class="title">{$obj.title}</div>
                            <div class="conbox">{$obj.content}</div>
                        </a>
                    </div>
                    {/volist}
                </div>
                <div class="tabbd" aos="fade-right">
                    {volist name='videos' id='obj'}
                    <div class="tbdlist">
                        <div class="picbox">
                            <video src="{$obj.url}" class="videoboxxx" controls="controls" controlsList="nodownload"></video>
                        </div>
                        <div class="morebtn"></div>
                        <div class="conbox">
                            <div class="icon"><img src="static/picture/video-icon1.png" alt=""></div>
                            <div class="con" aos="fade-up">
                                <div class="tit">{$obj.title}</div>
                                <div class="cn" style="height: 60px">{$obj.content}</div>
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    {elseif $v['section_id']==5}
    <div class="main-pad-1 main-background-1 animate" id="alzs" style="background:url('{$v['section_img']}') no-repeat center center
;position: relative; width: 100%;background-size:cover;overflow-y:hidden;padding-top: 20px;">
        <div class="container-fluid" >
            <div class="case-wrap">
                <div class="title-1 text-center active2" aos="flip-up">
                    <div class="chtit">案例<span>展示</span></div>
                    <div class="entit">Case presentation</div>
                    <div class="arrow"><img src="static/picture/title-1-arrow2.png" alt=""></div>
                </div>
                <div class="case-con" aos="fade-up">
                    <div class="case-carousel maximg">
                        {if isset($caseses)}
                        {if !empty($caseses)}
                        {foreach $caseses as $casese}
                            <a href="{:url('selide/index',array('case_id'=>$casese['id']))}" class="item">
                                <div class="picbox">
                                    <div class="imgbox sizeCover" >
                                        <img src="{$casese['case_img']}" alt="">
                                    </div>

                                </div>
                                <div class="conbox">案例展示</div>
                                <div class="showcn">
                                    <div class="tit">案例展示</div>
                                </div>
                            </a>
                        {/foreach}
                        {else}
                            <a href="{:url('casese/info',array('id'=>1))}" class="item">
                                <div class="picbox">
                                    <div class="imgbox sizeCover" >
                                        <img src="{if isset($casese)}{$casese['case_img']}{/if}" alt="你这里没有图片" style="width:100%;height:220px;">
                                    </div>

                                </div>
                                <div class="conbox">默认案例展示</div>
                                <div class="showcn">
                                    <div class="tit">默认案例展示</div>
                                </div>
                            </a>
                        {/if}
                        {/if}
                    </div>
                </div>
            </div>
            <div class="partner-wrap animate" data-animate="bounceIn" id="hzhb" aos="zoom-in">
                <div class="title-1 text-center active2">
                    <div class="chtit">合作<span>伙伴</span></div>
                    <div class="entit">cooperative partner</div>
                    <div class="arrow"><img src="static/picture/title-1-arrow2.png" alt=""></div>
                </div>
                <div class="partner-con" aos="flip-down">
                    <div class="partner-carousel">
                        {volist name='Cooperation' id='obj'}
                        <a href="javascript:void(0);" class="item">
                            <div class="picbox">
                                <div class="imgbox text-center imgs">
                                    <img src="{$obj.url}" alt="">
                                </div>
                            </div>
                        </a>
                        {/volist}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {/if}
    {/foreach}
</div>

<div class="visible-xs-block visible-sm-block hot-wrap" style="position: fixed; bottom: 0px;left:0px;z-index: 999999999">
    <div class="list"><a href="tel:4009-6688-39"><i><img src="static/picture/phone-icon.png" alt=""></i><span>电 话</span></a></div>
    <div class="list"><a href="contact.php"><i><img src="static/picture/weizhi-icon.png" alt=""></i><span>地 图</span></a></div>
    <div class="list"><a href=""><i><img src="static/picture/fenxiang-icon.png" alt=""></i><span>首 页</span></a></div>
    <div class="list"><a href="sms:18036817807"><i><img src="static/picture/ewm-icon.png" alt=""></i><span>邮 件</span></a></div>
</div>

<script src="http://demo.htmleaf.com/1704/201704271523/dist/scrolla.jquery.min.js"></script>
<!--<script>-->

<!--    $('.animate').scrolla({-->
<!--        mobile: false,-->
<!--        once: false-->
<!--    });-->
<!--</script>-->
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000,
        once:false
    });
</script>
<script>
    hljs.initHighlightingOnLoad();

    $('.hero__scroll').on('click', function(e) {
        $('html, body').animate({
            scrollTop: $(window).height()
        }, 1200);
    });
</script>
{include file='public/bottom'}

