{extend name="layouts::layout"/}
{block name="content"}
    <div class="x-body">
        <div class="layui-container">
            <div class="layui-row">
                <span class="layui-col-md11">菜单{$title}</span>
                <button class="layui-btn layui-btn-sm back">返回</button>
            </div>

            <hr/>
            <form class="layui-form user-create-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>父级菜单
                    </label>
                    <div class="layui-input-inline">
                        <select name="pid" lay-verify="pid">
                            <option value=""></option>
                            {if isset($menu_groups)}
                            {foreach $menu_groups as $menu_group}
                            <option value="{$menu_group['id']}" {if isset($info)&& $info.pid==$menu_group['id']}selected{/if}>{$menu_group['name']}</option>
                            {/foreach}
                            {/if}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>菜单名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" required="" lay-verify="name" value="{if isset($info)}{$info['name']}{/if}" autocomplete="off" placeholder="输入菜单名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="url" class="layui-form-label">
                        <span class="x-red">*</span>url
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="url" name="url" required="" lay-verify="url" value="{if isset($info)}{$info['url']}{/if}" autocomplete="off" placeholder="输入url" class="layui-input">

                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="sort" class="layui-form-label">
                        <span class="x-red"></span>排序
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="sort" name="sort" required="" lay-verify="sort" value="{if isset($info)}{$info['sort']}{/if}" autocomplete="off" class="layui-input">
                        <input type="hidden" name="id" value="{if isset($info)}{$info['id']}{/if}">
                    </div>
                </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                        </label>
                        <button  class="layui-btn layui-btn-sm" lay-filter="{$button}" lay-submit="">
                            {$title}
                        </button>
                    </div>
            </form>
        </div>
    </div>
    <script>
        $('.back').click(function () {
            history.go(-1)
        });
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form
            ,layer = layui.layer;
            //自定义验证规则
            var code = '{$info ? 1 : 0}';
            // if(code=='0'){
                form.verify({
                    pid: function(value){
                        if(!value){
                            return '请选择父级菜单';
                        }
                    }
                    ,name:function(value) {
                        if (value.length<=0) {
                            return '菜单名必填';
                        }
                    }
                    ,url:function(value) {
                        if (value.length<=0) {
                            return 'url必填';
                        }
                    }
                });
            // }

            //监听提交
            form.on('submit(add)', function(e){
                let data = e.field
                $.ajax({
                    type:"post",
                    url:"{:url('menu/save')}",
                    data:{
                        pid:data.pid,
                        name:data.name,
                        url:data.url,
                        sort:data.sort,
                    },
                    success:function (rel) {
                        if(rel.status){
                            layer.msg('新增成功', {
                                time: 2000,
                            });
                            self.location = document.referrer;
                        }else{
                            layer.msg(rel.msg, {
                                time: 2000,
                            });
                        }

                    }
                })
                return false;
            })

            form.on('submit(update)', function(e){
                let data = e.field
                console.log(data)
                $.ajax({
                    type:"post",
                    url:"{:url('menu/update')}",
                    data:{
                        id:data.id,
                        pid:data.pid,
                        name:data.name,
                        url:data.url,
                        sort:data.sort,
                    },
                    success:function (rel) {
                        if(rel.status){
                            layer.msg(rel.msg, {
                                time: 2000,
                            });
                            self.location = document.referrer;
                        }else{
                            layer.msg(rel.msg, {
                                time: 2000,
                            });
                        }

                    }
                })
                return false;
            })
        });
    </script>
    <script>
      //   var _hmt = _hmt || []; (function() {
      //   var hm = document.createElement("script");
      //   hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      //   var s = document.getElementsByTagName("script")[0];
      //   s.parentNode.insertBefore(hm, s);
      // })();
    </script>
{/block}