{extend name="layouts::layout"/}
{block name="content"}
<div class="x-nav">
    <i>首页大标题</i>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
    <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-col-md1">
            {if isset($title_list)}
            <a href="{:url('title/edit',array('id'=>$title_list['id']))}">
                <span class="layui-btn layui-btn-sm">
                    <i class="layui-icon"></i>编辑
                </span>
            </a>
            {else}
            <a href="{:url('title/create')}">
                <span class="layui-btn layui-btn-sm">
                    <i class="layui-icon">&#xe654;</i>新增
                </span>
            </a>
            {/if}
        </div>
    </div>
    <table class="layui-table" lay-skin="line" lay-filter="test">
        <thead>
        <tr>
            <th>#</th>
            <th>标题名</th>
            <th>禁/启用</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {if isset($title_list)}
            <tr>
                <td>{$i}</td>
                <td>{$title_list->title}</td>
                <td>
                    {if $title_list['status']==1}
                        <button class="layui-btn layui-btn-xs layui-btn-normal forbidden" data-url="{:url('title/forbidden',array('id'=>$title_list['id']))}" f-id="{$title_list['status']}">禁用</button>
                    {else}
                    <button class="layui-btn layui-btn-xs forbidden" data-url="{:url('title/forbidden',array('id'=>$title_list['id']))}" f-id="{$title_list['status']}" >启用</button>
                    {/if}
                </td>
                <td>{$title_list->created_at}</td>
                <td>
                    <button class="layui-btn layui-btn-xs layui-btn-danger delete" data-url="{:url('title/delete',array('id'=>$title_list['id']))}">删除</button>
                </td>
            </tr>
        {else}
            <tr>
                <td colspan="5">暂无数据</td>
            </tr>
        {/if}
        </tbody>
    </table>
</div>

<script src="/assets/js/user/user.js"></script>
<script>
    $('.reset').click(function(){
        document.getElementById('myform').reset();
    })
    layui.use(['form','laydate'], function(){
        var laydate = layui.laydate;
        var form = layui.form
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        laydate.render({
            elem: '#end' //指定元素
        });
    });
</script>
{/block}


