<div class="footer-wrap" style="position: relative">
    <div class="footer clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="fwcn">
                        <div class="phonetxt">
                            <div class="p1">服务热线</div>
                            <div class="p2">{$system.tel}</div>
                            <div class="p3">{$c_list->name}</div>
                        </div>
                        <div class="copyright">
                            版权所有 Copyright © 2016.上海为杰<br>
                            备案号:
                            <a href="http://www.beian.miit.gov.cn" target="_blank">
                                {$system.keeps}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="hidden-sm hidden-xs col-md-4">
                    <div class="dhcn clearfix">
                        <div class="tit">联系我们</div>
                        <div class="con active2">
                            <div class="list"><i><img src="/static/picture/footer-icon1.png" alt=""></i><span>{$c_list->address}</span></div>
                            <div class="list"><i><img src="/static/picture/footer-icon2.png" alt=""></i><span>{$c_list->tel}</span></div>
                            <div class="list"><i><img src="/static/picture/footer-icon3.png" alt=""></i><span>{$c_list->email}</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="ewmbox">
                        <div class="pic">
                            <img src="{$c_list->gzh}" width="100px" alt="">
                            <span>关注公司</span>
                        </div>
                        <div class="backbtn"><a href="javascript:void(0);"><img src="/static/picture/backup.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
